USE_GEMINI=true 
GOOGLE_GEMINI_KEY= YOUR KEY 
PORT=5050
FRONT_END_URL for local development
FRONT_END_URL="http://localhost:5173"

FRONT_END_URL for production deployment
FRONT_END_URL="https://omexai.netlify.app/"

Toggle Gemini integration
USE_GEMINI=true
